@import "tailwindcss";

body, html {
  font-family: calibri, "lato", courier new;
  background-image: url("./assets/bg.gif");
  background-attachment: fixed;
  scroll-behavior: smooth;
  scroll-padding-top: 200px;
}

h2 {
  text-decoration: underline;
}